{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เสื้อผ้าแฟชั่น</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

    <footer class="footer mt-auto ">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-box">
                        <h3>ติดต่อเรา</h3>
                        <ul>
                            <li>เฟสบุ๊ก: <a href="https://web.facebook.com/profile.php?id=100025320171318">Nutchanok</a></li>
                            <li>เบอร์โทร: 0964061735</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</html>
